package {{ package_identifier }}.feature.example.domain.repository

import {{ package_identifier }}.core.model.PagedData
import {{ package_identifier }}.feature.example.domain.model.Example

interface ExampleRepository {
    suspend fun list(page: Int = 0, size: Int = 20): PagedData<Example>
    suspend fun getById(id: String): Example
    suspend fun create(title: String, description: String?): Example
    suspend fun update(id: String, title: String?, description: String?, status: String?): Example
    suspend fun delete(id: String)
}
