package {{ app_package }}.modules.users.repository

import {{ app_package }}.modules.users.model.User
import org.springframework.data.jpa.repository.JpaRepository
import java.util.UUID

interface UserRepository : JpaRepository<User, UUID> {
    fun findBySubject(subject: String): User?
}
