<resources>
    <string name="app_name">{{ project_name }}</string>
    <string name="action_delete">Delete</string>
    <string name="action_logout">Logout</string>
    <string name="action_retry">Retry</string>
    <string name="auth_continue_apple">Continue with Apple</string>
    <string name="auth_continue_facebook">Continue with Facebook</string>
    <string name="auth_continue_google">Continue with Google</string>
    <string name="auth_continue_microsoft">Continue with Microsoft</string>
    <string name="auth_email_label">Email</string>
    <string name="auth_password_label">Password</string>
    <string name="auth_sign_in">Sign In</string>
    <string name="auth_welcome">Welcome</string>
    <string name="error_failed_load_examples">Failed to load examples.</string>
    <string name="error_oauth_setup_required">%1$s sign-in needs a real Android OAuth handoff before this button can be used.</string>
    <string name="error_oauth_sign_in_failed">OAuth sign in failed.</string>
    <string name="error_registration_failed">Registration failed.</string>
    <string name="error_sign_in_failed">Sign in failed.</string>
    <string name="examples_empty_message">Create your first example to get started.</string>
    <string name="examples_empty_title">No examples yet</string>
    <string name="examples_title">Examples</string>
</resources>
