package {{ package_identifier }}.core.di

import {{ package_identifier }}.feature.auth.data.repository.AuthRepositoryImpl
import {{ package_identifier }}.feature.auth.domain.repository.AuthRepository
import {{ package_identifier }}.feature.example.data.repository.ExampleRepositoryImpl
import {{ package_identifier }}.feature.example.domain.repository.ExampleRepository
import dagger.Binds
import dagger.Module
import dagger.hilt.InstallIn
import dagger.hilt.components.SingletonComponent
import javax.inject.Singleton

@Module
@InstallIn(SingletonComponent::class)
abstract class RepositoryModule {

    @Binds
    @Singleton
    abstract fun bindAuthRepository(impl: AuthRepositoryImpl): AuthRepository

    @Binds
    @Singleton
    abstract fun bindExampleRepository(impl: ExampleRepositoryImpl): ExampleRepository
}
