package {{ app_package }}

import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.boot.runApplication

@SpringBootApplication
class {{ app_module_name }}Application

fun main(args: Array<String>) {
    runApplication<{{ app_module_name }}Application>(*args)
}
